* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main_color: #121212;
    --font: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--main_color) ; */
    box-shadow: 0px 1px 5px var(--main_color) ;
    height: 60px;
    width: 100vw;
    padding: 0 10px;
    position: fixed;
    z-index: 10;
}

nav .img_container {
    width: 100px;
    height: 45px;
    margin-top: 10px;
}

nav .img_container img {
    width: 100%;
    height: 100%;
}

nav .ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background: var(--main_color);
    position: absolute;
    z-index: 10;
    top: 60px;
    padding-top: 50px;
    right: -300px;
    align-items: center;
    gap: 20px;
    transition: .3s ease-in-out;
}

nav .ul.open {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background: var(--main_color);
    position: absolute;
    z-index: 10;
    top: 60px;
    padding-top: 50px;
    right: 0px;
    align-items: center;
    gap: 20px;
    transition: .3s ease-in;
}

nav ul a {
    color: var(--font);
    text-transform: uppercase;
    font-variant: small-caps;
    position: relative;
}

nav ul a:active {
    scale: 1.2;
}
/* 
nav ul a::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background: var(--font);
    bottom: -5px;
    left: 0;
}

nav ul a:active:before {
    width: 100%;
} */

nav ul .registration {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

ul .registration button {
    background: var(--font);
    color: var(--main_color);
    width: 100px;
    border: none;
    padding: 5px;
    font-weight: 500;
    border-radius: .7rem;
}

nav .burger {
    align-self: center;
    margin: 10px 10px 0 0;
}